.vs/GitForm/FileContentIndex/ee6b232b-b56b-4700-84b4-1070ca01917e.vsidx
.vs/GitForm/FileContentIndex/read.lock
.vs/GitForm/v17/.suo
.vs/GitForm/v17/Preview/Browse.VC.db
.vs/GitForm/v17/Preview/Browse.VC.db-shm
.vs/GitForm/v17/Preview/Browse.VC.db-wal
.vs/GitForm/v17/Preview/Browse.VC.opendb
.vs/GitForm/v17/Preview/ipch/AutoPCH/b2e76a131902fb87/GITFORM.ipch
.directory
.vscode/extensions.json
.vscode/settings.json
